In [1]:
import numpy as np
import pandas as pd

In [2]:
grades = {"Emir":50, "James":60, "Lars":30}

In [3]:
pd.Series(grades)

Emir     50
James    60
Lars     30
dtype: int64

In [4]:
names = ["Atil", "James", "Lars"]
grades = [50, 60, 30]

In [5]:
pd.Series(names)

0     Atil
1    James
2     Lars
dtype: object

In [6]:
pd.Series(grades)

0    50
1    60
2    30
dtype: int64

In [7]:
pd.Series(grades, names)

Atil     50
James    60
Lars     30
dtype: int64

In [9]:
pd.Series(data=grades, index=names)

Atil     50
James    60
Lars     30
dtype: int64

In [10]:
# with numpy

In [11]:
numpy_array = np.array([50, 40, 30, 20])
numpy_array

array([50, 40, 30, 20])

In [12]:
pd.Series(numpy_array)

0    50
1    40
2    30
3    20
dtype: int64

In [18]:
# arithmetic

In [21]:
contest_result1 = pd.Series(data=[10, 5, 100], index=["Atil", "Emir", "James"])
contest_result2 = pd.Series(data=[20, 50, 10], index=["Atil", "Emir", "James"])

In [23]:
final_result1 = contest_result1 + contest_result2
final_result1

Atil      30
Emir      55
James    110
dtype: int64

In [24]:
final_result2 = contest_result1 * contest_result2
final_result2

Atil      200
Emir      250
James    1000
dtype: int64

In [25]:
different_series1 = pd.Series([10, 5, 3, 1], ["a", "c", "f", "g"])
different_series2 = pd.Series([20, 30, 40, 50], ["a", "b", "c", "d"])

In [26]:
different_series1 + different_series2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64